@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  /* Palette Orange */
  --color-light-orange-hover: #fef0da;
  --color-light-orange-active: #fde0b2;
  --color-light-orange: #fff5e6;
  
  --color-normal-orange: #fa9c07;
  --color-normal-orange-hover: #e18c06;
  --color-normal-orange-active: #c87d06;
  
  --color-dark-orange: #bc7505;
  --color-dark-orange-hover: #965e04;
  --color-dark-orange-active: #704603;
  
  --color-darker-orange: #583702;

  /* Palette Bleu */
  --color-light-blue: #e9eff3;
  --color-light-blue-hover: #dee6ed;
  --color-light-blue-active: #baccda;

  --color-normal-blue: #225a89;
  --color-normal-blue-hover: #1f517b;
  --color-normal-blue-active: #1b486e;

  --color-dark-blue: #1a4467;
  --color-dark-blue-hover: #143652;
  --color-dark-blue-active: #0f283e;

  --color-darker-blue: #0c1f30;

  --color-tertiary: #ffffff;
  --color-tertiary-hover: #e6e6e6;
  --color-tertiary-active: #cccccc;

  --color-tertiary-dark: #bfbfbf;
  --color-tertiary-dark-hover: #999999;
  --color-tertiary-dark-active: #737373;

  --color-tertiary-darker: #595959;
}

* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  color: #1e1e1e;
  line-height: 1.6;
  font-size: 14px;
  min-height: 100vh;
}

#root {
  width: 100%;
}



